@font-face{
    font-family: 'Fallow';
    src: url("../fonts/Fallow-3zg28.otf");
}
@font-face{
    font-family: 'FingerZoo';
    src:url("../fonts/Asap-Symbol.otf");
}

$orange: #f17903;

header{
    nav{
        font-family: 'FingerZoo', sans-serif;
        background-color: rgba(0, 0, 1, 0.8);
        padding-top: 20px;
        padding-bottom: 15px;
        img{
            height: 60px;
        }
        .navbar-toggler{
            box-shadow: none !important;
        }
        a{
            color: white !important;
            transition: 0.4s !important;
            &:hover{
                color: darken(white, 25%) !important;
            }
        }
        #ulaznice{
            margin-right: 40px !important;
            background-color: $orange;
            padding: 10px 20px !important;
            border-radius: 5%;
            text-transform: uppercase;
            &:hover{
                background-color: darken($orange, 15%);
                color: white !important;
            }
        }
    }
}

h1{
    font-family: 'FingerZoo', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    color: $orange;
    padding-top: 70px;
}

.gallery-section{
    padding-top: 70px;
    padding-bottom: 70px;
    img{
        object-fit: cover;
    }
}

footer{
    text-align: center;
    padding: 50px 0 20px 0;
    background-color: rgb(44, 44, 44);
    img{
        margin-bottom: 30px;
    }
    .logo{
        height: 80px;
        margin-bottom: 20px;
    }
    .links{
        margin-right: 35px;
        font-family: 'FingerZoo', sans-serif;
        ul{
            list-style: none;
            li{
                margin-bottom: 10px;
                a{
                    text-decoration: none;
                    color: white;
                    &:hover{
                        color: darken(white, 25%) !important;
                    }   
                }
            }
        }
    }
    .bg-prijatelj{
        position: relative;
        top: 10%;
    }
    .bioloski{
        position: relative;
        top: 15%;
    }
    .medicina{
        position: relative;
        top: 15%;
    }
}

.after-footer{
    background-color: $orange;
    padding: 7px 0;
    color: white;
    text-align: center;
    p{
        padding-top: 10px;
        color: darken($orange, 30%);
    }
}